/*НОВАЯ ЗАДАЧА*/

.new-todo__input{
    display: flex;    
    align-items: center;    
    width: 100%;
    height: 65px;
    padding: 0 20px 0 7px;
    box-sizing: border-box;
    font-size: 24px;    
    border-style: none;
    background-color: var(--beige-100);    
    box-shadow: 0 2px 4px 0 var(--gradient-100), 
                0 25px 50px 0 var(--gradient-200);
    transition: background-color 0.3s ease;
}

.new-todo__input:hover{
    background-color: var(--beige-200);
}

.new-todo__input:focus{
    background-color: var(--beige-200);
    outline: 1px solid #9a9c80;
}

input[type="checkbox"]{
    position: relative;  
    flex: none;    
    width: 30px;
    height: 30px;    
    margin-right: 20px;   
    background-color: var(--white);
    border: 1px solid var(--green-100);
    border-radius: 100%;
    appearance: none;
    cursor: pointer;
}

input[type="checkbox"]:checked::after{
    content: "";
    position: absolute;
    left: 2px;
    top: 3px;   
    width: 23px;
    height: 23px;     
    background-image: url(public/icon/icons8-галочка.svg);
    border-color: var(--green-100);
    background-size: contain;
    background-position: center center;
}

input[type="checkbox"]:checked + p{
    color: var(--gray);
    text-decoration: line-through;
}

.new-todo__input:has(input[type="checkbox"]:checked){
    background-color: var(--beige-300);
}

.delete-button{
    float: right;   
    display: none;  
    margin-left: auto;      
    width: 15px;
    height: 15px;   
    border: none;
    background: none;   
    background-image: url(public/icon/close.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    appearance: none;
    cursor: pointer;
}

.new-todo__input:hover .delete-button{
    display: inline;

}



